<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Launcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Launcher.Settings>
      <setting name="Game" serializeAs="String">
        <value>C:\Program Files (x86)\SquareEnix\FINAL FANTASY XIV\ffxivgame.exe</value>
      </setting>
      <setting name="Launch" serializeAs="String">
        <value>C:\Program Files (x86)\SquareEnix\FINAL FANTASY XIV\ffxivboot.exe</value>
      </setting>
      <setting name="FullScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InitX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InitY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxX" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="MaxY" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="Flags" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Application_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </Launcher.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>