<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FFXIVAPP.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FFXIVAPP.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFXIVAPP.Client.Properties.Settings>
            <setting name="Application_UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="CultureSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Blue|Light</value>
            </setting>
            <setting name="GameLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="CICUID" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableNLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowXIVDBIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHelpLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChatBackgroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TimeStampColor" serializeAs="String">
                <value>#FF800080</value>
            </setting>
            <setting name="ChatFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="HomePlugin" serializeAs="String">
                <value>Parse</value>
            </setting>
            <setting name="UIScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="DefaultAudioDevice" serializeAs="String">
                <value>System Default</value>
            </setting>
            <setting name="ActorWorkerRefresh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ChatLogWorkerRefresh" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PartyInfoWorkerRefresh" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PlayerInfoWorkerRefresh" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TargetWorkerRefresh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MonsterWorkerRefresh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="InventoryWorkerRefresh" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DefaultNetworkInterface" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableNetworkReading" serializeAs="String">
                <value>False</value>
            </setting>
        </FFXIVAPP.Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FFXIVAPP.Client.Properties.Settings>
            <setting name="ThemeList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Red|Light</string>
                        <string>Green|Light</string>
                        <string>Blue|Light</string>
                        <string>Purple|Light</string>
                        <string>Orange|Light</string>
                        <string>Brown|Light</string>
                        <string>Cobalt|Light</string>
                        <string>Crimson|Light</string>
                        <string>Cyan|Light</string>
                        <string>Emerald|Light</string>
                        <string>Indigo|Light</string>
                        <string>Magenta|Light</string>
                        <string>Mauve|Light</string>
                        <string>Olive|Light</string>
                        <string>Sienna|Light</string>
                        <string>Steel|Light</string>
                        <string>Teal|Light</string>
                        <string>Violet|Light</string>
                        <string>Amber|Light</string>
                        <string>Yellow|Light</string>
                        <string>Lime|Light</string>
                        <string>Pink|Light</string>
                        <string>Red|Dark</string>
                        <string>Green|Dark</string>
                        <string>Blue|Dark</string>
                        <string>Purple|Dark</string>
                        <string>Orange|Dark</string>
                        <string>Brown|Dark</string>
                        <string>Cobalt|Dark</string>
                        <string>Crimson|Dark</string>
                        <string>Cyan|Dark</string>
                        <string>Emerald|Dark</string>
                        <string>Indigo|Dark</string>
                        <string>Magenta|Dark</string>
                        <string>Mauve|Dark</string>
                        <string>Olive|Dark</string>
                        <string>Sienna|Dark</string>
                        <string>Steel|Dark</string>
                        <string>Teal|Dark</string>
                        <string>Violet|Dark</string>
                        <string>Amber|Dark</string>
                        <string>Yellow|Dark</string>
                        <string>Lime|Dark</string>
                        <string>Pink|Dark</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Adamantoise</string>
                        <string>Aegis</string>
                        <string>Alexander</string>
                        <string>Anima</string>
                        <string>Asura</string>
                        <string>Atomos</string>
                        <string>Bahamut</string>
                        <string>Balmung</string>
                        <string>Behemoth</string>
                        <string>Belias</string>
                        <string>Brynhildr</string>
                        <string>Cactuar</string>
                        <string>Carbuncle</string>
                        <string>Cerberus</string>
                        <string>Chocobo</string>
                        <string>Coeurl</string>
                        <string>Diabolos</string>
                        <string>Durandal</string>
                        <string>Excalibur</string>
                        <string>Exodus</string>
                        <string>Faerie</string>
                        <string>Famfrit</string>
                        <string>Fenrir</string>
                        <string>Garuda</string>
                        <string>Gilgamesh</string>
                        <string>Goblin</string>
                        <string>Gungnir</string>
                        <string>Hades</string>
                        <string>Hyperion</string>
                        <string>Ifrit</string>
                        <string>Ixion</string>
                        <string>Jenova</string>
                        <string>Kujata</string>
                        <string>Lamia</string>
                        <string>Leviathan</string>
                        <string>Lich</string>
                        <string>Malboro</string>
                        <string>Mandragora</string>
                        <string>Masamune</string>
                        <string>Mateus</string>
                        <string>Midgardsormr</string>
                        <string>Moogle</string>
                        <string>Odin</string>
                        <string>Pandaemonium</string>
                        <string>Phoenix</string>
                        <string>Ragnarok</string>
                        <string>Ramuh</string>
                        <string>Ridill</string>
                        <string>Sargatanas</string>
                        <string>Shinryu</string>
                        <string>Shiva</string>
                        <string>Siren</string>
                        <string>Tiamat</string>
                        <string>Titan</string>
                        <string>Tonberry</string>
                        <string>Typhon</string>
                        <string>Ultima</string>
                        <string>Ultros</string>
                        <string>Unicorn</string>
                        <string>Valefor</string>
                        <string>Yojimbo</string>
                        <string>Zalera</string>
                        <string>Zeromus</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GameLanguageList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>English</string>
                        <string>Japanese</string>
                        <string>French</string>
                        <string>German</string>
                        <string>Chinese</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LicenseFont" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="HomePluginList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>None</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UIScaleList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0.8</string>
                        <string>0.9</string>
                        <string>1.0</string>
                        <string>1.1</string>
                        <string>1.2</string>
                        <string>1.3</string>
                        <string>1.4</string>
                        <string>1.5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultAudioDeviceList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>System Default</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FFXIVAPP.Client.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>