<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFXIVAPP.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FFXIVAPP.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FFXIVAPP.Client.Properties.Settings>
      <setting name="Application_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="CultureSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Blue|Light</value>
      </setting>
      <setting name="GameLanguage" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="CICUID" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="CharacterName" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastName" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowPluginCommands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableNLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowXIVDBIntegration" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHelpLabels" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatBackgroundColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="TimeStampColor" serializeAs="String">
        <value>#FF800080</value>
      </setting>
      <setting name="ChatFont" serializeAs="String">
        <value>Microsoft Sans Serif, 12pt</value>
      </setting>
      <setting name="HomePlugin" serializeAs="String">
        <value>Parse</value>
      </setting>
      <setting name="UIScale" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="EventPluginEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InformerPluginEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogPluginEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParsePluginEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StoreHistoryEvent" serializeAs="String">
        <value>Damage Only</value>
      </setting>
    </FFXIVAPP.Client.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <FFXIVAPP.Client.Properties.Settings>
      <setting name="ThemeList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Red|Light</string>
            <string>Green|Light</string>
            <string>Blue|Light</string>
            <string>Purple|Light</string>
            <string>Orange|Light</string>
            <string>Brown|Light</string>
            <string>Cobalt|Light</string>
            <string>Crimson|Light</string>
            <string>Cyan|Light</string>
            <string>Emerald|Light</string>
            <string>Indigo|Light</string>
            <string>Magenta|Light</string>
            <string>Mauve|Light</string>
            <string>Olive|Light</string>
            <string>Sienna|Light</string>
            <string>Steel|Light</string>
            <string>Teal|Light</string>
            <string>Violet|Light</string>
            <string>Amber|Light</string>
            <string>Yellow|Light</string>
            <string>Lime|Light</string>
            <string>Pink|Light</string>
            <string>Red|Dark</string>
            <string>Green|Dark</string>
            <string>Blue|Dark</string>
            <string>Purple|Dark</string>
            <string>Orange|Dark</string>
            <string>Brown|Dark</string>
            <string>Cobalt|Dark</string>
            <string>Crimson|Dark</string>
            <string>Cyan|Dark</string>
            <string>Emerald|Dark</string>
            <string>Indigo|Dark</string>
            <string>Magenta|Dark</string>
            <string>Mauve|Dark</string>
            <string>Olive|Dark</string>
            <string>Sienna|Dark</string>
            <string>Steel|Dark</string>
            <string>Teal|Dark</string>
            <string>Violet|Dark</string>
            <string>Amber|Dark</string>
            <string>Yellow|Dark</string>
            <string>Lime|Dark</string>
            <string>Pink|Dark</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ServerList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Atomos</string>
            <string>Bahamut</string>
            <string>Chocobo</string>
            <string>Mandragora</string>
            <string>Tiamat</string>
            <string>Tonberry</string>
            <string>Garuda</string>
            <string>Ifrit</string>
            <string>Ramuh</string>
            <string>Titan</string>
            <string>Adamantoise</string>
            <string>Behemoth</string>
            <string>Cactuar</string>
            <string>Cerberus</string>
            <string>Coeurl</string>
            <string>Goblin</string>
            <string>Malboro</string>
            <string>Moogle</string>
            <string>Ultros</string>
            <string>Diabolos</string>
            <string>Gilgamesh</string>
            <string>Leviathan</string>
            <string>Midgardsormr</string>
            <string>Odin</string>
            <string>Shiva</string>
            <string>Ridill</string>
            <string>Masamune</string>
            <string>Durandal</string>
            <string>Aegis</string>
            <string>Gungnir</string>
            <string>Sargatanas</string>
            <string>Balmung</string>
            <string>Hyperion</string>
            <string>Excalibur</string>
            <string>Ragnarok</string>
            <string>Alexander</string>
            <string>Anima</string>
            <string>Carbuncle</string>
            <string>Fenrir</string>
            <string>Hades</string>
            <string>Ixion</string>
            <string>Kujata</string>
            <string>Typhon</string>
            <string>Ultima</string>
            <string>Valefor</string>
            <string>Exodus</string>
            <string>Faerie</string>
            <string>Lamia</string>
            <string>Phoenix</string>
            <string>Siren</string>
            <string>Pandaemonium</string>
            <string>Unicorn</string>
            <string>Yojimbo</string>
            <string>Famfrit</string>
            <string>Lich</string>
            <string>Mateus</string>
            <string>Asura</string>
            <string>Belias</string>
            <string>Zeromus</string>
            <string>Brynhildr</string>
            <string>Zalera</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="GameLanguageList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>English</string>
            <string>Japanese</string>
            <string>French</string>
            <string>German</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LicenseFont" serializeAs="String">
        <value>Segoe UI</value>
      </setting>
      <setting name="HomePluginList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>None</string>
            <string>Event</string>
            <string>Informer</string>
            <string>Log</string>
            <string>Parse</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UIScaleList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0.5</string>
            <string>0.6</string>
            <string>0.7</string>
            <string>0.8</string>
            <string>0.9</string>
            <string>1.0</string>
            <string>1.1</string>
            <string>1.2</string>
            <string>1.3</string>
            <string>1.4</string>
            <string>1.5</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="StoreHistoryEventList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Damage Only</string>
            <string>Any</string>
          </ArrayOfString>
        </value>
      </setting>
    </FFXIVAPP.Client.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
