<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Settings>
  <Color Key="0000" Value="FFFFFF" />
  <Color Key="0001" Value="FFF000" />
  <Color Key="0002" Value="FF00F6" />
  <Color Key="0003" Value="00FFF0" />
  <Color Key="0004" Value="0090FF" />
  <Color Key="0005" Value="00FF00" />
  <Color Key="0006" Value="00FF00" />
  <Color Key="0007" Value="00FF00" />
  <Color Key="0008" Value="00FF00" />
  <Color Key="0009" Value="FFFFFF" />
  <Color Key="000A" Value="00FF00" />
  <Color Key="000B" Value="00FF00" />
  <Color Key="000C" Value="00FF00" />
  <Color Key="000D" Value="00FFF0" />
  <Color Key="000E" Value="00FF00" />
  <Color Key="000F" Value="00FF00" />
  <Color Key="0010" Value="00FF00" />
  <Color Key="0011" Value="00FF00" />
  <Color Key="0012" Value="00FF00" />
  <Color Key="0013" Value="00FF00" />
  <Color Key="0014" Value="00FF00" />
  <Color Key="0015" Value="00FF00" />
  <Color Key="0016" Value="FFFFFF" />
  <Color Key="0017" Value="FFFFFF" />
  <Color Key="0018" Value="FFFFFF" />
  <Color Key="0019" Value="FFFFFF" />
  <Color Key="001A" Value="FFFFFF" />
  <Color Key="001B" Value="FFFFFF" />
  <Color Key="001C" Value="FFFFFF" />
  <Color Key="001D" Value="FFFFFF" />
  <Color Key="001E" Value="FFFFFF" />
  <Color Key="001F" Value="FFFFFF" />
  <Color Key="0020" Value="CB5ECC" />
  <Color Key="0021" Value="FFFFFF" />
  <Color Key="0022" Value="FFFFFF" />
  <Color Key="0023" Value="FFFFFF" />
  <Color Key="0024" Value="FFFFFF" />
  <Color Key="0025" Value="FFFFFF" />
  <Color Key="0026" Value="FFFFFF" />
  <Color Key="0027" Value="FFFFFF" />
  <Color Key="0028" Value="FFFFFF" />
  <Color Key="0029" Value="FFFFFF" />
  <Color Key="002A" Value="FFFFFF" />
  <Color Key="002B" Value="FFFFFF" />
  <Color Key="002C" Value="FFFFFF" />
  <Color Key="002D" Value="FFFFFF" />
  <Color Key="002E" Value="FFFFFF" />
  <Color Key="002F" Value="FFFFFF" />
  <Color Key="0030" Value="FFFFFF" />
  <Color Key="0031" Value="FFFFFF" />
  <Color Key="0032" Value="FFFFFF" />
  <Color Key="0033" Value="FFFFFF" />
  <Color Key="0034" Value="FFFFFF" />
  <Color Key="0035" Value="FFFFFF" />
  <Color Key="0036" Value="FFFFFF" />
  <Color Key="0037" Value="FFFFFF" />
  <Color Key="0038" Value="FFFFFF" />
  <Color Key="0039" Value="FFFFFF" />
  <Color Key="003A" Value="FFFFFF" />
  <Color Key="003B" Value="FFFFFF" />
  <Color Key="003C" Value="FFFFFF" />
  <Color Key="003D" Value="FFFFFF" />
  <Color Key="003E" Value="FFFFFF" />
  <Color Key="003F" Value="FFFFFF" />
  <Color Key="0040" Value="FFFFFF" />
  <Color Key="0041" Value="FFFFFF" />
  <Color Key="0042" Value="FFFE9E" />
  <Color Key="0043" Value="FFFFFF" />
  <Color Key="0044" Value="FFFFFF" />
  <Color Key="0045" Value="FFFFFF" />
  <Color Key="0046" Value="CB5ECC" />
  <Color Key="0047" Value="FFFFFF" />
  <Color Key="0048" Value="FFFFFF" />
  <Color Key="0049" Value="FFFFFF" />
  <Color Key="004A" Value="FFFFFF" />
  <Color Key="004B" Value="FFFFFF" />
  <Color Key="004C" Value="FFFFFF" />
  <Color Key="004D" Value="FFFFFF" />
  <Color Key="004E" Value="FFFFFF" />
  <Color Key="004F" Value="FFFFFF" />
  <Color Key="0050" Value="FF0000" />
  <Color Key="0051" Value="FF0000" />
  <Color Key="0052" Value="FF0000" />
  <Color Key="0053" Value="FF0000" />
  <Color Key="0054" Value="FF0000" />
  <Color Key="0055" Value="FF0000" />
  <Color Key="0056" Value="FFFFFF" />
  <Color Key="0057" Value="FFFFFF" />
  <Color Key="0058" Value="FFFFFF" />
  <Color Key="0059" Value="FFFFFF" />
  <Color Key="005A" Value="FFFFFF" />
  <Color Key="005B" Value="FFFFFF" />
  <Color Key="005C" Value="FFFFFF" />
  <Color Key="005D" Value="FFFFFF" />
  <Color Key="005E" Value="FFFFFF" />
  <Color Key="005F" Value="FFFFFF" />
  <Color Key="0060" Value="FFFFFF" />
  <Color Key="0061" Value="FFFFFF" />
  <Color Key="0062" Value="FFFFFF" />
  <Color Key="0063" Value="FFFFFF" />
  <Color Key="0064" Value="FFFFFF" />
  <Color Key="0065" Value="FFFFFF" />
  <Color Key="0066" Value="FFFFFF" />
  <Color Key="0067" Value="FFFFFF" />
  <Color Key="0068" Value="FFFFFF" />
  <Color Key="0069" Value="FFFFFF" />
  <Color Key="006A" Value="FFFFFF" />
  <Color Key="006B" Value="FFFFFF" />
  <Color Key="006C" Value="FFFFFF" />
  <Color Key="006D" Value="FFFFFF" />
  <Color Key="006E" Value="FFFFFF" />
  <Color Key="006F" Value="FFFFFF" />
  <Server Key="2" Value="Durandal" />
  <Server Key="3" Value="Hyperion" />
  <Server Key="4" Value="Masamune" />
  <Server Key="5" Value="Gungir" />
  <Server Key="7" Value="Aegis" />
  <Server Key="10" Value="Sargatanas" />
  <Server Key="11" Value="Balmung" />
  <Server Key="12" Value="Ridill" />
  <Server Key="16" Value="Excalibur" />
  <Server Key="20" Value="Ragnarok" />
  <Tab Key="Say" Value="0001" />
  <Tab Key="Tell" Value="000D,0003" />
  <Tab Key="Party" Value="0004" />
  <Tab Key="LS" Value="000E,0005,000F,0006,0010,0007,0011,0008,0012,0013,000A,0014,000B,0015,000C" />
  <Tab Key="Shout" Value="0002" />
</Settings>