<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Settings>
  <Tab Key="Say" Value="0001" />
  <Tab Key="Tell" Value="000D,0003" />
  <Tab Key="Party" Value="0004" />
  <Tab Key="LS" Value="000E,0005,000F,0006,0010,0007,0011,0008,0012,0013,000A,0014,000B,0015,000C" />
  <Tab Key="Shout" Value="0002" />
</Settings>