<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIVAPP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FFXIVAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIVAPP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FFXIVAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFXIVAPP.Settings>
            <setting name="Application_UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiteName" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="CICUID" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_ChatlogBackground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Color_TimeStamp" serializeAs="String">
                <value>#FF800080</value>
            </setting>
            <setting name="LogFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="Parse_ExportXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Parse_SaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobAbility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PartyStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HealingStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DamageStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AbilityPlayerDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbilityPlayerMonster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbilityPlayerMonsterDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingAbilties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingPlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageDetailMonster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageDetailAbilties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonsterDetailsDrops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonsterDetailAbilities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebsiteControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_SaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Translate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendToGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Romanization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslateJPOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslateTo" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Say" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tell" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Party" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ASCII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslateToEcho" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualTranslate" serializeAs="String">
                <value>Japanese</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="ThemeList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Red|Light</string>
                        <string>Green|Light</string>
                        <string>Blue|Light</string>
                        <string>Purple|Light</string>
                        <string>Orange|Light</string>
                        <string>Red|Dark</string>
                        <string>Green|Dark</string>
                        <string>Blue|Dark</string>
                        <string>Purple|Dark</string>
                        <string>Orange|Dark</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Orange|Light</value>
            </setting>
            <setting name="ChatTheme" serializeAs="String">
                <value>Red|Light</value>
            </setting>
            <setting name="LogTheme" serializeAs="String">
                <value>Blue|Light</value>
            </setting>
            <setting name="ParseTheme" serializeAs="String">
                <value>Green|Light</value>
            </setting>
            <setting name="LogZoomLevel" serializeAs="String">
                <value>100</value>
            </setting>
        </FFXIVAPP.Settings>
        <FFXIVAPP.Properties.Settings>
            <setting name="Application_UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiteName" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="CICUID" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_ChatlogBackground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Color_TimeStamp" serializeAs="String">
                <value>#FF800080</value>
            </setting>
            <setting name="LogFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt</value>
            </setting>
            <setting name="Parse_ExportXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Parse_SaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadParse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobAbility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PartyStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HealingStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DamageStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonsterStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AbilityPlayerDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbilityPlayerMonster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbilityPlayerMonsterDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingAbilties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingPlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HealingDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageDetailMonster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DamageDetailAbilties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonsterDetailsDrops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonsterDetailAbilities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebsiteControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_SaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Translate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendToGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Romanization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslateJPOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TranslateTo" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Say" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tell" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Party" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ASCII" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslateToEcho" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualTranslate" serializeAs="String">
                <value>Japanese</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="ThemeList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Red|Light</string>
                        <string>Green|Light</string>
                        <string>Blue|Light</string>
                        <string>Purple|Light</string>
                        <string>Orange|Light</string>
                        <string>Red|Dark</string>
                        <string>Green|Dark</string>
                        <string>Blue|Dark</string>
                        <string>Purple|Dark</string>
                        <string>Orange|Dark</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Orange|Light</value>
            </setting>
            <setting name="ChatTheme" serializeAs="String">
                <value>Red|Light</value>
            </setting>
            <setting name="LogTheme" serializeAs="String">
                <value>Blue|Light</value>
            </setting>
            <setting name="ParseTheme" serializeAs="String">
                <value>Green|Light</value>
            </setting>
        </FFXIVAPP.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FFXIVAPP.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Durandal</string>
                        <string>Hyperion</string>
                        <string>Masamune</string>
                        <string>Gungnir</string>
                        <string>Aegis</string>
                        <string>Sargatanas</string>
                        <string>Balmung</string>
                        <string>Ridill</string>
                        <string>Excalibur</string>
                        <string>Ragnarok</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TranslateLanguages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Albanian</string>
                        <string>Arabic</string>
                        <string>Bulgarian</string>
                        <string>Catalan</string>
                        <string>Chinese (Simplified)</string>
                        <string>Chinese (Traditional)</string>
                        <string>Croatian</string>
                        <string>Czech</string>
                        <string>Danish</string>
                        <string>Dutch</string>
                        <string>English</string>
                        <string>Estonian</string>
                        <string>Filipino</string>
                        <string>Finnish</string>
                        <string>French</string>
                        <string>Galician</string>
                        <string>German</string>
                        <string>Greek</string>
                        <string>Hebrew</string>
                        <string>Hindi</string>
                        <string>Hungarian</string>
                        <string>Indonesian</string>
                        <string>Italian</string>
                        <string>Japanese</string>
                        <string>Korean</string>
                        <string>Latvian</string>
                        <string>Lithuanian</string>
                        <string>Maltese</string>
                        <string>Norwegian</string>
                        <string>Polish</string>
                        <string>Portuguese</string>
                        <string>Romanian</string>
                        <string>Russian</string>
                        <string>Serbian</string>
                        <string>Slovak</string>
                        <string>Slovenian</string>
                        <string>Spanish</string>
                        <string>Swedish</string>
                        <string>Thai</string>
                        <string>Turkish</string>
                        <string>Ukrainian</string>
                        <string>Vietnamese</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>English</string>
                        <string>Japanese</string>
                        <string>French</string>
                        <string>German</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FFXIVAPP.Settings>
        <FFXIVAPP.Properties.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Durandal</string>
                        <string>Hyperion</string>
                        <string>Masamune</string>
                        <string>Gungnir</string>
                        <string>Aegis</string>
                        <string>Sargatanas</string>
                        <string>Balmung</string>
                        <string>Ridill</string>
                        <string>Excalibur</string>
                        <string>Ragnarok</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TranslateLanguages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Albanian</string>
                        <string>Arabic</string>
                        <string>Bulgarian</string>
                        <string>Catalan</string>
                        <string>Chinese (Simplified)</string>
                        <string>Chinese (Traditional)</string>
                        <string>Croatian</string>
                        <string>Czech</string>
                        <string>Danish</string>
                        <string>Dutch</string>
                        <string>English</string>
                        <string>Estonian</string>
                        <string>Filipino</string>
                        <string>Finnish</string>
                        <string>French</string>
                        <string>Galician</string>
                        <string>German</string>
                        <string>Greek</string>
                        <string>Hebrew</string>
                        <string>Hindi</string>
                        <string>Hungarian</string>
                        <string>Indonesian</string>
                        <string>Italian</string>
                        <string>Japanese</string>
                        <string>Korean</string>
                        <string>Latvian</string>
                        <string>Lithuanian</string>
                        <string>Maltese</string>
                        <string>Norwegian</string>
                        <string>Polish</string>
                        <string>Portuguese</string>
                        <string>Romanian</string>
                        <string>Russian</string>
                        <string>Serbian</string>
                        <string>Slovak</string>
                        <string>Slovenian</string>
                        <string>Spanish</string>
                        <string>Swedish</string>
                        <string>Thai</string>
                        <string>Turkish</string>
                        <string>Ukrainian</string>
                        <string>Vietnamese</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LanguageList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>English</string>
                        <string>Japanese</string>
                        <string>French</string>
                        <string>German</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FFXIVAPP.Properties.Settings>
    </applicationSettings>
</configuration>