<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LogModXIV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <LogModXIV.Properties.Settings>
            <setting name="LM_TS_Color" serializeAs="String">
                <value>#FF800080</value>
            </setting>
            <setting name="B_Color" serializeAs="String">
                <value>#FF000000</value>
            </setting>
        </LogModXIV.Properties.Settings>
    </userSettings>
</configuration>
