<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogModXIV.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LogModXIV.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <LogModXIV.Settings>
      <setting name="LogErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Color_TimeStamp" serializeAs="String">
        <value>#FF800080</value>
      </setting>
      <setting name="Color_ChatlogBackground" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="Gui_SaveLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gui_ShowAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gui_ShowDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gui_LogFont" serializeAs="String">
        <value>Microsoft Sans Serif, 12pt</value>
      </setting>
      <setting name="Gui_Translate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_SendToGame" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gui_SendRomanization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gui_TranslateJPOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_TranslateTo" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="Gui_TSay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_TTell" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_TParty" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_TLS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_TShout" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_AllVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Gui_DebugVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="Gui_ShowASCII" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Application_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_ManualTranslate" serializeAs="String">
        <value>Japanese</value>
      </setting>
      <setting name="Gui_TranslateToEcho" serializeAs="String">
        <value>False</value>
      </setting>
    </LogModXIV.Settings>
  </userSettings>
  <applicationSettings>
    <LogModXIV.Settings>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
    </LogModXIV.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>