<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ParseModXIV.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ParseModXIV.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <ParseModXIV.Settings>
      <setting name="LogErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Color_TimeStamp" serializeAs="String">
        <value>#FF800080</value>
      </setting>
      <setting name="Color_ChatlogBackground" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="Gui_LogFont" serializeAs="String">
        <value>Microsoft Sans Serif, 12pt</value>
      </setting>
      <setting name="FirstName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastName" serializeAs="String">
        <value />
      </setting>
      <setting name="Application_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_MobAbilityVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Gui_PartyStatsVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Gui_HealingStatsVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Gui_DamageStatsVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Gui_MonsterStatsVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Gui_DebugVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Gui_MobAbility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_PartyStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_HealingStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_DamageStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_MonsterStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_SaveLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Gui_ExportXML" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gui_Debug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Gui_UploadData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CICUID" serializeAs="String">
        <value />
      </setting>
      <setting name="CharacterName" serializeAs="String">
        <value />
      </setting>
    </ParseModXIV.Settings>
  </userSettings>
  <applicationSettings>
    <ParseModXIV.Settings>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LanguageList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>English</string>
            <string>Japanese</string>
            <string>French</string>
            <string>German</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ServerList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Durandal</string>
            <string>Hyperion</string>
            <string>Masamune</string>
            <string>Gungir</string>
            <string>Aegis</string>
            <string>Sargatanas</string>
            <string>Balmung</string>
            <string>Ridill</string>
            <string>Excalibur</string>
            <string>Ragnarok</string>
          </ArrayOfString>
        </value>
      </setting>
    </ParseModXIV.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>