<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="FFXIVAPP.Common" value="D:\Users\Icehunter\Source\Repos\ffxivapp\ffxivapp-common\packages" />
	<add key="FFXIVAPP.IPluginInterface" value="D:\Users\Icehunter\Source\Repos\ffxivapp\ffxivapp-iplugininterface\packages" />
    <add key="FFXIVAPP.ResourceFiles" value="D:\Users\Icehunter\Source\Repos\ffxivapp\ffxivapp-resourcefiles\packages" />
    <add key="Sharlayan" value="D:\Users\Icehunter\Source\Repos\ffxivapp\sharlayan\distribution" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
