<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChatModXIV.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChatModXIV.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <ChatModXIV.Settings>
      <setting name="LogErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Application_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SiteName" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="APIKey" serializeAs="String">
        <value />
      </setting>
    </ChatModXIV.Settings>
  </userSettings>
  <applicationSettings>
    <ChatModXIV.Settings>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Durandal</string>
            <string>Hyperion</string>
            <string>Masamune</string>
            <string>Gungir</string>
            <string>Aegis</string>
            <string>Sargatanas</string>
            <string>Balmung</string>
            <string>Ridill</string>
            <string>Excalibur</string>
            <string>Ragnarok</string>
          </ArrayOfString>
        </value>
      </setting>
    </ChatModXIV.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>